#gameContainer canvas {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#tetris {
  border: dashed thin gray;
  margin: 10px auto;
}

.col {
  min-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#playbutton {
  margin: 10px;
}

#tetrisTag, #navTag, #layoutTag, #autoLoadTag, #FrontPage-Minimal, #FrontPage-Compact, #score {
  display: none;
}

/* Main Background and Font here */

body {
  background: radial-gradient(rgb(240,240,240) 0%, rgb(174,174,174) 100%);
  font-family: Dosis, sans-serif;
  height: 100%;
}

