# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebGL CRUD.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\WebGL CRUD\.idea\.idea.WebGL CRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
